 @(result:Map[String,String]) @main("Welcome to Play") {
<script type="text/javascript">
var alldata =[@for((key,value) <- result){{name:'@key',value:@value/* ,url:"https://www.google.com" */},}];
console.log(JSON.stringify(alldata));
//配列をソート
alldata.sort(function(a,b){
    if(a.value<b.value) return -1;
    if(a.value > b.value) return 1;
    return 0;
});
var dataset = { //csvデータを一つのchidrenとしてデータセットを作成
		 children:alldata
    };
console.log(JSON.stringify(dataset));


var valueset = [ @for((key,value) <- result){@value,}]
console.log(JSON.stringify(valueset));


/* var keyset = [ @for((key,value) <- result){@key,}]
console.log(JSON.stringify(keyset));
//配列をソート
keyset.sort(function(a,b){
    if(a.value<b.value) return -1;
    if(a.value > b.value) return 1;
    return 0;
}); */

var word = "gongoozler";

    //各要素のattrの内容（変数にしておくとアップデートを行うときに便利)
    var circleAttr = {
        cx: F('x'),
        cy: F('y')
    };
    var labelAttr = {
        x: F('x'),
        y: F('y')
    };
    var countAttr = {
        x: F('x'),
        y: F('y', ' + 40')
    };






var w = 1280,
h = 1200,
radius = w/4;

var svg = d3.select("body").append("svg")
            .attr("width", w)
            .attr("height", h);

var packman = d3.layout.pack()
.size([w/2 , 420]);  //バブルチャートで使用するpackレイアウトオブジェクトを作成


var circleGroup = svg.selectAll("g")
.data(packman.nodes(dataset))
.enter()
.append("g")
//.attr("class", function(d, i) { return "g" + i+1; })
.attr("transform", function(d) {    // 円のX,Y座標を設定
        return "translate(" + d.x + "," + (d.y+50) + ")";
    })
    .append("a")
    .attr("xlink:href", "")
.filter(function(d) { return !d.children; });


//サークルカラー
  var color = d3.scale.category10();





var circle = circleGroup.append('circle') //各サークル作成
 .transition()
.delay( function(d,i){ return i*2200; } )
.duration(4000)
.attr({
    class:F('name'),
    "fill-opacity":0.6,
})
.attr("fill",function(d,i){
    return d.depth==0 ? "black" : color(i); // rootノードは表示しない
  })

  /*円の大きさ指定  */
.attr(circleAttr)
 .attr("r",  function(d,i){ return i*40+60;});


/* 国の名前デザイン */
var label = circleGroup
.append('text') //ラベル(名称)作成
.transition()
.delay( function(d,i){ return i*2000; } )
.duration(1000)
.ease("elastic")
.attr({
	fill: "white",
    "font-size": "40px",
    "text-anchor": "middle",
    "alignment-baseline": "middle"
})
.attr(labelAttr)
.text(F('name'));

/* 為替デザイン*/
 var count = circleGroup.append('text')
 .transition()
.delay( function(d,i){ return i*2000; } )
.duration(1000)
//.ease("elastic")

        .attr({
            fill: "white",
            "font-size": "20px",
            "dominant-baseline": "middle"
        })
        .style("text-anchor", "middle")
        .attr(countAttr)
        .text(F('value', "+ '円'"));


//タイトル
         var title =  svg.append('text')
         .transition()
.delay( function(d,i){ return i*2000; } )
.duration(3000)
        .attr({
            fill:'white',
            'font-size':'100',
            x: 40,
            y: 100
        })
        .text('exchange');


/*
 circleGroup.transition().duration(5000)
 .attr('cx', function(d,i) { return i * 2+5; })
        .attr('cy', function(d,i) { return i * 3+5; });
function move(elm, msec, alpha, beta)
{
    elm.transition().duration(msec)
       .attr('cx', function(d,i) { return i * alpha; })
       .attr('cy', function(d,i) { return i * beta; });
}

circleGroup.call(move, 1000, 2, 3)
       .call(move, 1000, Math.random(), Math.random())
       .call(move, 1000, 4, 2); */



/*

     //ループアニメーション
        function slide(i,$this) {
           var circle = d3.select($this);

           (function repeat(i) {
               var j = ( i + 1 > 9 ) ? 0 : i + 1;
               circle
               .transition()
                   .delay( 2000 )
                   .duration(1000)
                   .ease("elastic")
                   .attr({
                       cx: center.x,
                       cy: center.y,
                       r: 0
                   })
                   .attr({
                       x: center.x,
                       y: center.y,
                       r: 0
                   })
                   .each("end", function(d,i) {
                       d3.select(this).data(valueset)
                           .transition()
                               .duration(1000)
                               .ease("elastic")
                               .attr(circleAttr)
                               .attr(labelAttr)
							   .attr("r",  function(d,i){ return i*50+30;})
							    .each("end", function(d, i) { repeat(j); });
                   });
           })(i);
       } */









      /*  d3.select("body").on("click", function(){
       }); */




        /*   arr.forEach(function(d,i){
        	  circleGroup
           .select("circle.EUR")
           .transition()
           .delay(i * 800)
           .duration(3000)
           .attr("cx", d.x)
           .attr("cy", d.x);
          });  */

    </script>
}



