 @(result:Map[String,String]) @main("Welcome to Play") {
<script type="text/javascript">
var alldata =[@for((key,value) <- result){{name:'@key',value:@value/* ,url:"https://www.google.com" */},}];
console.log(JSON.stringify(alldata));
//配列をソート
alldata.sort(function(a,b){
    if(a.value<b.value) return -1;
    if(a.value > b.value) return 1;
    return 0;
});
var dataset = { //csvデータを一つのchidrenとしてデータセットを作成
		 children:alldata
    };
console.log(JSON.stringify(dataset));


var valueset = [ @for((key,value) <- result){@value,}]
console.log(JSON.stringify(valueset));




    //各要素のattrの内容（変数にしておくとアップデートを行うときに便利)
    var circleAttr = {
        cx: F('x'),
        cy: F('y'),
    };
    var labelAttr = {
        x: F('x'),
        y: F('y')
    };
    var countAttr = {
        x: F('x'),
        y: F('y', ' + 40')
    };





var width = 1520,
height = 1400,
radius = width/4;

var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);

// translateで画面中央に移動。
var translated = svg.append("g")
            .attr("transform","translate(" + width/2 + "," + height/2 + ")");

// d3.extent()で、データの最大値と最小値が[最大値,最小値]で出る。
var dataExtent = d3.extent(valueset);
console.log(JSON.stringify(dataExtent));


var y = d3.scale.linear()
            .domain(dataExtent)
            .range([radius, 0]); // 0で一番外側になるようにradiusと0の位置を本来と逆にしている。


var packman = d3.layout.pack()
.size([width/2 , height/2])
.padding(0);  //バブルチャートで使用するpackレイアウトオブジェクトを作成


var circleGroup = translated.selectAll("g")
.data(packman.nodes(dataset))
.enter()
.append("g")
.filter(function(d) { return !d.children; });


//サークルカラー
  var color = d3.scale.category20c();





var circle = circleGroup.append('circle') //各サークル作成
.attr({
    class:F('name'),
    "fill-opacity":0.9,
})
.attr("fill",function(d,i){
    return d.depth==0 ? "white" : color(i); // rootノードは表示しない
  })
 /*  .attr("stroke", "white")
  .transition()
  .duration(1000)
  .delay(function(d,i){
    return i*10;
  }) */
  /*円の大きさ指定  */
.attr(circleAttr)
 .attr("r",  function(d,i){ return i*10+70;});

/* 国の名前デザイン */
var label = circleGroup
.append('text') //ラベル(名称)作成
.attr({
	fill: "white",
    "font-size": "40px",
    "text-anchor": "middle",
    "alignment-baseline": "middle"
})
.attr(labelAttr)
.text(F('name'));

/* 為替デザイン*/
 var count = circleGroup.append('text')
        .attr({
            fill: "white",
            "font-size": "20px",
            "dominant-baseline": "middle"
        })
        .style("text-anchor", "middle")
        .attr(countAttr)
        .text(F('value', "+ '円'"));


//タイトル
         var title =  svg.append('text')
        .attr({
            fill:'white',
            'font-size':'100',
            x: 40,
            y: 100
        })
        .text('exchange');

      // データリストの位置が0で角度0、最後の位置で360度になるように均等に角度を割りふる。
      var r = d3.scale.linear()
                  .domain([0,valueset.length])
                  .range([0,360]);

// データリストの位置=iごとにr()で一定角度で回転する。
circleGroup.transition().duration(5000)
                        .attr("transform",function(d,i){ return "rotate(" + r(i) + ")"; });


    </script>
}



