 @(result:Map[String,String],resultDoll:Map[String,String]) @main("Welcome to Play") {

     <script type="text/javascript">
                function tokei(){
                	//target要素を選択
                	var ele = document.getElementById("target");
                	//文字列部分に今の日時を表示。
                	ele.innerHTML = Date().toLocaleString();
                	//tokei関数をタイマー処理で実行。第一引数tokei関数が第二引数ミリ秒後に実行される。
                	window.setTimeout("tokei()",1000);
                }</script>

                  <body class= "hi" onload="tokei();">
    <div id ="target"></div>

<script type="text/javascript">
var alldata =[@for((key,value) <- result){{name:'@key',value:@value},}];
console.log(JSON.stringify(alldata));

var dolldata =[@for((key,value) <- resultDoll){{name:'@key',value:@value},}];
console.log(JSON.stringify(dolldata));
//配列をソート
alldata.sort(function(a,b){
    if(a.value<b.value) return -1;
    if(a.value > b.value) return 1;
    return 0;
});
dolldata.sort(function(a,b){
    if(a.value<b.value) return -1;
    if(a.value > b.value) return 1;
    return 0;
});
var dataset = { //csvデータを一つのchidrenとしてデータセットを作成
		 children:alldata
    };
var dolldataset = { //csvデータを一つのchidrenとしてデータセットを作成
		 children:dolldata
   };

console.log(JSON.stringify(dataset));
console.log(JSON.stringify(dolldataset));



    //各要素のattrの内容（変数にしておくとアップデートを行うときに便利)
    var circleAttr = {
        cx: F('x'),
        cy: F('y')
    };
    var labelAttr = {
        x: F('x'),
        y: F('y')
    };
    var countAttr = {
        x: F('x'),
        y: F('y', ' + 40')
    };






var w = 1280,
h = 980,
radius = w/4;

var svg = d3.select("body").append("svg")
            .attr("width", w)
            .attr("height", h);

var packman = d3.layout.pack()
.size([w/2 , 420]);  //バブルチャートで使用するpackレイアウトオブジェクトを作成


var circleGroup = svg.selectAll("g")
.data(packman.nodes(dataset))
.enter()
.append("g")
//.attr("class", function(d, i) { return "g" + i+1; })
.attr("transform", function(d) {    // 円のX,Y座標を設定
        return "translate(" + d.x + "," + (d.y+50) + ")";
    })
    .append("a")
    .attr("xlink:href", function(d){
    	return "usd/"+d.name+ "/JPY"
    })
.filter(function(d) { return !d.children; });


//サークルカラー
  var color = d3.scale.category10();





var circle = circleGroup.append('circle') //各サークル作成
 .transition()
.delay( function(d,i){ return i*2200; } )
.duration(4000)
.attr({
    class:F('name'),
    "fill-opacity":0.6,
})
.attr("fill",function(d,i){
    return d.depth==0 ? "black" : color(i); // rootノードは表示しない
  })

  /*円の大きさ指定  */
.attr(circleAttr)
 .attr("r",  function(d,i){ return i*40+60;});


/* 国の名前デザイン */
var label = circleGroup
.append('text') //ラベル(名称)作成
.transition()
.delay( function(d,i){ return i*2000; } )
.duration(1000)
.ease("elastic")
.attr({
	fill: "white",
    "font-size": "40px",
    "text-anchor": "middle",
    "alignment-baseline": "middle"
})
.attr(labelAttr)
.text(F('name'));

/* 為替デザイン*/
 var count = circleGroup.append('text')
 .transition()
.delay( function(d,i){ return i*2000; } )
.duration(1000)
//.ease("elastic")

        .attr({
            fill: "white",
            "font-size": "20px",
            "dominant-baseline": "middle"
        })
        .style("text-anchor", "middle")
        .attr(countAttr)
        .text(F('value', "+ '円'"));


//タイトル
         var title =  svg.append('text')
         .transition()
.delay( function(d,i){ return i*2000; } )
.duration(3000)
        .attr({
            fill:'white',
            'font-size':'100',
            x: 40,
            y: 100
        })
        .text('exchange');



</script>

}



